$dark: #000;

@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $dark;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media (min-width: 1200px) {
  .container {
    width: 992px;
  }
}

// Movie card
.movie-card {
  .card-body {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $dark;
    transition: 0.1s;
    animation: zoom-out 0.3s linear;
  }

  &:hover {
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: scale(1);
    }
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
