$dark: #000;

@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $dark;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media (min-width: 1200px) {
  .container {
    width: 992px;
  }
}

// Movie card
.movie-card {
  min-height: 400px;

  &::after {
    content: "|||";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    animation: flash 1s linear infinite;
    z-index: 1;
  }

  img {
    z-index: 2;
  }

  .card-body {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $dark;
    transition: 0.1s;
    animation: zoom-out 0.3s linear;
    z-index: 3;
  }

  &:hover {
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: scale(1);
    }
  }
}

// Animations
@keyframes zoom-out {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
